{
  "ecmaFeatures": {
    "arrowFunctions": true,
    "binaryLiterals": true,
    "blockBindings": true,
    "classes": true,
    "defaultParams": true,
    "destructuring": true,
    "modules": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "octalLiterals": true,
    "restParams": true,
    "spread": true,
    "superInFunctions": true,
    "templateStrings": true,
    "jsx": true
  },
  "env": {
   "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": [2, "single", "avoid-escape"],
    "no-unused-expressions": [0],
    "react/jsx-boolean-value": "always",
    "react/jsx-quotes": [2, "double", "avoid-escape"],
    "react/jsx-no-undef": 1,
    "react/no-multi-comp": 1,
    "react/self-closing-comp": 1,
    "react/wrap-multilines": 1
  }
}
