{
  "extends": ["eslint:recommended", "airbnb"],
  "rules": {
    // Best Practices
    "no-new": 0,
    // Possible Errors
    "comma-dangle": [2, "never"],
    // Style
    "indent": [2, 2, {"SwitchCase": 1}],
    // ECMAScript 6
    "constructor-super": 2,
    "generator-star-spacing": [2, "after"],
    "no-this-before-super": 2,
    "object-shorthand": 2,
    // React rules
    "react/jsx-quotes": [2, "double", "avoid-escape"],
    "react/prop-types": 0,
    "react/sort-comp": 0,
    "react/no-did-mount-set-state": 0
  }
}
