.grid {
  width: 100%;
  table-layout: fixed;
  border: 1px solid #DDD;

  th {
    border-bottom: 1px solid #DDD;
    color: #222;
    padding: 5px;
    cursor: pointer;
    background-color: #EDEDEF;
  }

  .standard-row {
    &:hover td {
      background-color: #EEE;
    }

    td {
      margin: 0px;
      padding: 5px 5px 5px 5px;
      height: 15px;
      background-color: #FFF;
      border-top-color: #DDD;
      color: #222;
    }
  }

  .footer-container {
    padding: 0px;
    border: 0px;
    color: #222;
    background-color: #EDEDED;

    .griddle-footer {
      min-height: 35px;
    }
  }

  .next-data,
  .prev-data {
    width: 33%;
    float: left;
    min-height: 1px;
    margin-top: 5px;

    button {
      color: #222;
      border: none;
      background: none;
    }
  }

  .prev-data {
    button {
      margin-right: 10px;
    }
  }

  .next-data {
    text-align: right;

    button {
      margin-left: 10px;
    }
  }

  .griddle-page {
    text-align: center;
    width: 34%;
    float: left;
    min-height: 1px;
    margin-top: 5px;
  }
}
