@import '--variables.css';

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav > li > a.active {
  text-decoration: none;
  background-color: var(--navbarActiveItemBgColor);
}

.nav > li > a.active {
  font-weight: bold;
}

.navbar {
  border: 1px solid var(--mainBorderColor);
  border-radius: 0;
  z-index: 1000;
  position: relative;
  height: var(--navbarHeight);
  background-color: var(--navbarBgColor);
}

.navbar-header {
  float: left;
  height: var(--navbarHeight);
  padding: var(--mainLeftPadding);
  font-size: 18px;
  color: #777;
}

.navbar-links {
  float: right;
  padding: var(--mainLeftPadding);
}
.navbar-links .link-text {
  margin-left: 4px;
}

.sidebar {
  z-index: 1;
  position: absolute;
  width: var(--sidebarWidth);
  margin-top: var(--navbarHeight);
}
.side-menu .side-menu-item {
  border-bottom: 1px solid var(--mainBorderColor);
}
