@import '--variables.css';

.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  > li {
    position: relative;
    display: block;

    > a {
      position: relative;
      display: block;
      padding: 10px 15px;

      &:focus,
      &:hover,
      &.active {
        text-decoration: none;
        background-color: var(--navbarActiveItemBgColor);
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}

.navbar {
  border: 1px solid var(--mainBorderColor);
  border-radius: 0;
  z-index: 1000;
  position: relative;
  height: var(--navbarHeight);
  background-color: var(--navbarBgColor);
}

.navbar-header {
  float: left;
  height: var(--navbarHeight);
  padding: var(--mainLeftPadding);
  font-size: 1.3em;
  color: #777;
}

.navbar-links {
  float: right;
  padding: var(--mainLeftPadding);

  .link-text {
    margin-left: 4px;
  }
}

.sidebar {
  z-index: 1;
  position: absolute;
  width: var(--sidebarWidth);
  margin-top: var(--navbarHeight);
}

.side-menu .side-menu-item {
  border-bottom: 1px solid var(--mainBorderColor);
}
