@import '--variables.css';

html, body {
  height: 100%;
}

body {
  font-family: var(--mainFontFamily);
  font-size: var(--mainFontSize);
  line-height: 1.42857143;
  color: var(--mainTextColor);
}

a {
  color: var(--linkColor);
  text-decoration: none;

  &:focus, &:hover {
    color: var(--linkHoverColor);
    text-decoration: none;
  }

  &:active, &:hover {
    outline: 0;
  }
}

#content {
  width: 100%;
}

#page-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0;
  padding: var(--navbarHeight) 30px var(--footerHeight);
  background-color: #FFF;
  overflow: auto;

  &.auth {
    margin-left: var(--sidebarWidth);
    border-left: 1px solid var(--mainBorderColor);
  }
}

h1 {
  font-size: 2em;
}
