@import '--variables.css';

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  height: 100%;
  font-family: var(--mainFontFamily);
  font-size: var(--mainFontSize);
  line-height: 1.42857143;
  color: var(--mainTextColor);
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:focus, a:hover {
  color: var(--linkHoverColor);
}

a:active, a:hover {
  outline: 0;
}

#content {
  width: 100%;
}

#page-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: 0 0 0 var(--sidebarWidth);
  padding: var(--navbarHeight) 30px 0;
  border-left: 1px solid var(--mainBorderColor);
  background-color: #FFF;
}

@import 'navbar.css';
@import 'tables.css';
